@use "../util" as u;

:root {
    --clr-right: #21a521;
    --clr-wrong: #ff0000;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

a, img, input {
    display: inline-block,
}

img {
    width: 100%;
    height: 100%;
}

input {
    outline: none;
}