@use "../util" as u;

.typing {
    margin-inline: auto;
    width: fit-content; 

    &__word-field {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        height: u.em(120);
        line-height: 1.2;
        gap: u.em(8) u.em(10);
        max-width: u.em(1000);
        border: u.em(2) solid #aaa;
        padding-inline: u.em(20);
        padding-block: u.em(10);
        border-radius: u.em(5);
        margin-bottom: u.em(20);
    }

    &__type-field {
        width: 50%;
        margin-inline: auto;
        padding: u.em(7);
        font-size: u.rem(18);
        border-radius: u.em(5);
        border: u.em(2) solid #aaa;
    }
}